[user]
	name = Allen Ng
	email = accounts@stupid-genius.com
	signingKey = xxxxxxxx
[core]
	editor = vim
[push]
	default = current
[pull]
	default = current
[diff]
	tool = vimdiff
[merge]
	tool = p4merge
[mergetool]
	keepbackup = false
[commit]
	gpgsign = false
[rerere]
	enabled = true

